<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GoBang</title>
</head>
<body>

<% if (userInfo) { %>
  <h2>用户名: <%= userInfo.userId %></h2>
  <button id="newGame">开始比赛</button>
  <button id="logout">注销</button>
<% } else { %>
  <button id="login">用户登陆</button>
  <button id="register">注册用户</button>
<% } %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.js"></script>
<script type="text/javascript">

$(document).ready(function () {
  
  $("#register").click(function (e) {
    var userId = prompt("请输入用户名", "");

    if (userId) {
      var password = prompt("请输入密码", "");
      var salt = 'd80f789632eef4cc'
      var hash = md5(password + salt);
      if (password) {
        $.post('/user/add', {
          userId: userId,
          password: hash,
        }, function (data) {
          alert(data['message']);
        })
      }
    } 
  });

  $("#login").click(function (e) {
    var userId = prompt("请输入用户名", "");

    if (userId) {
      var password = prompt("请输入密码", "");
      var salt = 'd80f789632eef4cc'
      var hash = md5(password + salt);
      if (password) {
        $.post('/user/login', {
          userId: userId,
          password: hash,
        }, function (data) {
          alert(data['message']);
          window.location="/";
        })
      }
    } 
  });

  $('#logout').click(function (e) {
    $.post('/user/logout', function (data) {
      alert(data['message']);
      window.location="/";
    })
  });
});

</script>

</body>
</html>