html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: Avenir,Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

button {
	outline: none;
}

.hidden {
	display: none !important;
}

#loading {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

#loading p {
	display: inline-block;
	text-align: center;
	width: 100%;
	font-size: 32px;
	line-height: 40px;
	color: #ffffff;
	margin: 50% auto;
}

.info {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
}

.bg {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#buttonList {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
}

.homeButton {
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: 327px 52px;
	background-position: center;
	border: none;
	padding: 0;
	width: 100%;
	height: 52px;
	margin: 0 auto;
}

#challenge {
	background-image: url("../img/challenge.png");
	margin-bottom: 20px;
}

#help {
	background-image: url("../img/help.png");
}

#helpContent, #challengeContent {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#helpContent #title, #challengeContent #title {
	margin: 0;
	width: 100%;
	text-align: center;
	font-size: 15px;
	line-height: 21px;
	padding: 15px 0;
}

#helpContent ul {
	list-style-type: none;
	margin: 20px 15px;
	padding: 0;
}

#helpContent ul li {
	color: #C59A6E;
	font-size: 15px;
	margin-bottom: 20px
}

#closeHelpInfo, #closeChallengeInfo {
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../img/close.png");
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center;
	border: none;
	padding: 0;
	width: 22px;
	height: 22px;
	top: 15px;
	left: 15px;
	z-index: 1001;
}

#challengeInfo .bg {
	background-color: #ffffff;
}

#challengeInfo input {
	display: block;
	width: 87.2%;
	height: 44px;
	margin: 0 auto;
	border: 1px solid #C59A6E;
	padding-left: 10px;
	font-size: 15px;
	outline: none;
}

#challengeInfo ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #E2CCB6;
    opacity: 1; /* Firefox */
}

#challengeInfo :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #E2CCB6;
}

#challengeInfo ::-ms-input-placeholder { /* Microsoft Edge */
    color: #E2CCB6;
}

#nicknameInput {
	margin-top: 60px !important;
	margin-bottom: 20px !important;
}

#moneyInput {
	margin-bottom: 60px !important;
}

#moneyInputGroup {
	position: relative;
}

#moneyInputGroup #moneyUnit {
	position: absolute;
	right: 8%;
	top: 13.5px;
	line-height: 21px;
	color: #C59A6E;
}

#submitChallenge {
	display: block;
	width: 87.2%;
	height: 44px;
	border: 1px solid #C59A6E;
	background-color: #C59A6E;
	color: #ffffff;
	font-size: 15px;
	margin: 0 auto;
	outline: none;
}

#submitChallengeInfo {
	width: 87.2%;
	margin: 12px auto;
	font-size: 15px;
	line-height: 21px;
}

#unTitle {
	margin: 80px 0;
	width: 100%;
	text-align: center;
	font-size: 15px;
	line-height: 21px;
	padding: 15px 0;
}

#submitChallenge, #enterGame, #cancelGame {
	display: block;
	width: 87.2%;
	height: 44px;
	border: 1px solid #C59A6E;
	background-color: #C59A6E;
	color: #ffffff;
	font-size: 15px;
	margin: 0 auto;
	outline: none;
}

#cancelGame {
	margin: 20px auto;
	color: #C59A6E;
	background-color: #FFFFFF;
}